import:
  - path: "http://example.com/sources.yml"
    name: example_com
    priority: 0
  - path: "http://acm.mines.edu/vis.yml"
    name: acm
    priority: 100
add:
  - path: /home/user/visplay/assets.yml
    many: asset
  - path: /home/user/visplay/playlists.yml
    many: playlist
  - path: /home/user/visplay/startup.yml
    single: playlist
