- name: local
  type: local
  args:
    assets_path: /home/user/development/ACM/visplay/assets.yaml
    playlists_path: /home/user/development/ACM/visplay/playlists.yaml
  priority: 8
- name: my_server
  type: http
  args:
    assets_path: http://example.com/assets.yaml
    playlists_path: http://exmaple.com/playlists.yaml
  priority: 0